@{
    ViewBag.Title = "Welcoome to TTS";
}

<div class="row">
    <div class="col-md-20">
        <div class="management">
            <br />
            <div class="box-title yellow">MANAGEMENT</div>
            <ul>
                <li>@Html.ActionLink("Public Relations", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Districts/Precincts", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Crime Statistics", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Neighborhood Watch", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Social Calendar", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Careers", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Volunteers", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Internal Affairs", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Stress Management", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Patrol Services", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Field Services", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Investigations", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Communities", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Forms & Fees", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Press Releases", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
            </ul>
            <hr />
        </div>

    </div>
    <div class="col-md-60">
        <div class="text-center">
            <img src="~/Images/tts3.png" class="bordered" />
        </div>
        <div>
            <p class="lead">The Solomon County Police Department is a division of the Solomon County government. This department is proud to insure the safety, security, and wellbeing of both our citizens and our visitors.</p>

            <div class="row">
                <div class="col-md-30 while-box">
                    <h2>Government</h2>
                    <p>Citizens and visitors can get more information about the available services and duties.</p>
                </div>
                <div class="col-md-30 while-box">
                    <h2>Community</h2>

                    <p>Here you can find more information about public parks (recreatiional parks, etc).</p>
                </div>
                <div class="col-md-30 while-box">
                    <h2>Relations</h2>
                    <p>Here is information about our activities, how we operate, and our future projects.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-20">
        <div class="management">
            <br />
            <div class="box-title yellow">USEFUL INFO</div>
            <ul>
                <li>@Html.ActionLink("Questions/Help", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("News and Events", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Safety Tips", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Knowledge Base", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
                <li>@Html.ActionLink("Interships", "Index", "Home", htmlAttributes: new { @class = "manage-lead" })</li>
            </ul>
            <br />
        </div>
        <div>
            <br />
            <img src="~/Images/tts4.png" />
            <br />
        </div>
    </div>
</div>

<br />